</div>

<script src="/jquery/jquery.js" type="text/javascript"></script>
<script src="javascripts/bootstrap.js" type="text/javascript"></script>
<script src="/knockout/knockout-latest.js" type="text/javascript"></script>