<% include layout %>

<div class="row">
  <div class="page-header">
    <h1>Contacto</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Lista de contactos</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Grupo</th>
          <th>Sección</th>
          <th>opciones</th>
        </tr>
      </thead>
      <tbody data-bind="foreach: grupos">
        <tr>
          <td data-bind="text: idGrupo"></td>
          <td data-bind="text: grupo"></td>
          <td data-bind="text: nombre"></td>
          <td>
            <div>
              <button data-toggle="modal" data-target="#mySecciones" data-bind="click: $root.grupoSeleccion">Asignar Curso</button>
              <button data-toggle="modal"  data-bind="click: $root.cargarDetalles">Detalle</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>    
  </div>
  <div>
    <button class="btn btn-danger" data-toggle="modal" data-target="#myModal">Agregar</button>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Detalle</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Grupo</th>
          <th>Sección</th>
          <th>opciones</th>
        </tr>
      </thead>
      <tbody data-bind="foreach: detallesw">
        <tr>
          <td data-bind="text: idGrupo"></td>
          <td data-bind="text: grupo"></td>
          <td data-bind="text: nombre"></td>
          <td>
          </td>
        </tr>
      </tbody>
    </table>    
  </div>
  <div>
    <button class="btn btn-danger" data-toggle="modal" data-target="#myModal">Agregar</button>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <div>
          <form data-bind="submit: crearGrupo">
              <div class="form-group">
                <label for='nombre'>Nombre</label>
                <input id="nombre" type="text" required data-bind="value: grupoNuevo.nombre"/>
              </div>
              <div class="form-group">
                <label for="seccion">Sección</label>
                <select class="" id="seccion" data-bind="options: secciones,
                  optionsText: 'nombre',
                  optionsValue: 'idSeccion',
                  value: grupoNuevo.idSeccion"></select>
              </div>
              <div class="form-group">
                <button class="btn btn-success" type="submit">Crear</button>
              </div>              
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="mySecciones" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <div>
          <form data-bind="submit: crearDetalle">              
              <div class="form-group">
                <label for="cursos">Cursos</label>
                <select class="" id="cursos" data-bind="options: cursos,
                  optionsText: 'nombre',
                  optionsValue: 'idCurso',
                  value: curso.idCurso"></select>
              </div>
              <div class="form-group">
                <button class="btn btn-success" type="submit">Crear</button>
              </div>              
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>




<% include footer %>
<script type="text/javascript" src="javascripts/index.js"></script>
